<div class="container">
    <form [formGroup]="formularioCreado">
        <div class="form-group">
            <label>Nombre:</label>
            <input type="text" class="form-control" formControlName="nombre">
            <div class="alert alert-danger" role="alert">
                El nombre es requerido
              </div>
        </div>
        <div class="form-group">
            <label>Email:</label>
            <input type="text" class="form-control" formControlName="correo">
            <div class="alert alert-danger" role="alert">
                El email es requerido
              </div>
              <div class="alert alert-danger" role="alert">
                No parece un correo valido
              </div>
        </div>
        <div class="form-group">
            <label>Contraseña:</label>
            <input type="password" class="form-control" formControlName="password">
            <div class="alert alert-danger" role="alert">
                El password es requerido
              </div>
              <div class="alert alert-danger" role="alert">
                El password debe tener por lo menos 8 caracteres
              </div>
        </div>
        <button class="btn btn-primary">Agregar</button>
    </form>
</div>
